*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#1A1D18;
    color:#F0E9DD;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    background:#121410;
    padding:20px 40px;
    border-bottom:2px solid #C9B28C;
}

header h1{
    margin-bottom:15px;
    letter-spacing:2px;
    font-size:1.4rem;
}

nav{
    display:flex;
    flex-wrap:wrap;
    gap:25px;
}

nav a{
    color:#F0E9DD;
    text-decoration:none;
}

nav a:hover{
    color:#C9B28C;
}

.dropdown{
    position:relative;
}

.dropdown-content{
    display:none;
    position:absolute;
    background:#121410;
    border:1px solid #C9B28C;
    min-width:220px;
}

.dropdown-content a{
    display:block;
    padding:12px 18px;
}

.dropdown:hover .dropdown-content{
    display:block;
}

/* ---------- MOBILE ---------- */

@media (max-width:850px){

header{

    flex-direction:column;
    gap:20px;

}

.hero h1{

    font-size:3rem;

}

.hero h2{

    font-size:1.2rem;

}

}