*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#1A1D18;
    color:#F0E9DD;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    background:#121410;
    padding:20px 40px;
    border-bottom:2px solid #C9B28C;
}

header h1{
    margin-bottom:15px;
    letter-spacing:2px;
    font-size:1.4rem;
}

nav{
    display:flex;
    flex-wrap:wrap;
    gap:25px;
}

nav a{
    color:#F0E9DD;
    text-decoration:none;
}

nav a:hover{
    color:#C9B28C;
}

.dropdown{
    position:relative;
}

.dropdown-content{
    display:none;
    position:absolute;
    background:#121410;
    border:1px solid #C9B28C;
    min-width:220px;
}

.dropdown-content a{
    display:block;
    padding:12px 18px;
}

.dropdown:hover .dropdown-content{
    display:block;
}

main{
    max-width:1400px;
    margin:auto;
    padding:50px 25px;
}

h2{
    text-align:center;
    font-size:2.5rem;
    margin-bottom:10px;
}

.subtitle{
    text-align:center;
    color:#C9B28C;
    margin-bottom:40px;
}

.gallery{
    column-count:3;
    column-gap:25px;
}

.gallery img{
    width:100%;
    height:auto;
    display:block;
    margin-bottom:25px;

    border-radius:8px;

    transition:.25s;
    cursor:pointer;

    break-inside:avoid;
}

.gallery img:hover{
    transform:scale(1.02);
}

@media (max-width:1000px){
    .gallery{
        column-count:2;
    }
}

@media (max-width:650px){
    .gallery{
        column-count:1;
    }
}

footer{

    text-align:center;
    padding:40px;
    color:#C9B28C;

}



/* ---------- MOBILE ---------- */

@media (max-width:850px){

    nav{
        gap:25px;
    }

    .hero h1{
        font-size:3rem;
    }

    .hero h2{
        font-size:1.2rem;
    }

}
